body {
    height: 100%;
    direction: rtl;
    font-family: myFont;
    background-image: linear-gradient(rgba(255, 255, 255, 0), grey), url('../img/');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
}

/* ----------------------- Start Header ----------------------- */
header {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 0;
    z-index: 5;
    width: 100%;
    position: fixed;
}

header #menu-toggle {
    display: none;
}

header .hamburger-wrapper {
    cursor: pointer;
    display: block;
    height: 25px;
    padding: 12px;
    position: fixed;
    right: 30px;
    top: 5px;
    transition: background 0.3s;
    width: 90px;
    z-index: 2;
}

header .hamburger-wrapper .hamburger {
    background: #f3e5b8;
    display: block;
    height: 2px;
    position: absolute;
    width: 25px;
    top: 22px;
    left: 78px;
    transition: background 0.3s;
}

header .hamburger-wrapper .hamburger:before,
header .hamburger-wrapper .hamburger:after {
    content: "";
    background: #f3e5b8;
    display: block;
    height: 2px;
    position: absolute;
    width: 25px;
}

header .hamburger-wrapper .hamburger:before {
    top: -5px;
    transition: top 0.3s, transform 0.3s;
}

header .hamburger-wrapper .hamburger:after {
    bottom: -5px;
    transition: bottom 0.3s, transform 0.3s;
}

header #menu-toggle:checked + .hamburger-wrapper {
    background: #000;
}

header #menu-toggle:checked + label .hamburger:before {
    background: #f3e5b8;
    top: 0;
    transform: rotate(45deg);
}
header #menu-toggle:checked + label .hamburger:after {
    background: #f3e5b8;
    bottom: 0;
    transform: rotate(-45deg);
}

header #menu-toggle:checked + label .hamburger {
    background: #000;
}

    /* Start Menu Bar */
header nav {
    background-color: #000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
    height: 100%;
    left: 100%;
    position: fixed;
    width: 60%;
    width: calc(240px);
    top: 0;
    transition: left 0.3s;
    z-index: 1;
}

header nav .spacer {
    height: 55px;
}

header nav .accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding-right: 0;
}

header nav .accordion li:last-child .link {
    border-bottom: 0;
}

header nav .accordion .link {
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #f3e5b8;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header nav .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #f3e5b8;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header nav .accordion li i i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

header nav .accordion li.open .link {
    color: #b63b4d;
}

header nav .accordion li.open .link i {
    color: #b63b4d;
}

header nav .accordion li.open .link i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

header nav .accordion .submenu {
    text-align: center;
    display: none;
    background: #121417;
    font-size: 14px;
    padding-right: 0;
}

header nav .accordion .submenu li {
    border-bottom: 1px solid #4b4a5e;
}

header nav .accordion .submenu a {
    display: block;
    text-decoration: none;
    color: #f3e5b8;
    padding: 12px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

header nav .accordion .submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}

header #menu-toggle:checked ~ nav {
    left: 40%;
    left: calc(100% - 240px);
    overflow-y: scroll;
}

header .h_arrow a {
    color: #f3e5b8;
}
header .h_arrow a i {
    margin-top: 10px;
}
header .h_title {
    padding: 0;
}
header .h_title h4 {
    color: #f3e5b8;
}
header .h_title img {
    width: 50px;
    margin: auto;
    display: block;
}
    /* End Menu Bar */
/* ----------------------- End Header ----------------------- */

/* ----------------------- Start Footer ----------------------- */
footer {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    background-color: black;
    height: 45px;
    padding: 0px;
    z-index: 2;
}
footer a {
    text-align: center;
    font-size: 21px;
    color: #f3e5b8;
    padding: 10px;
    text-align: center;
    width: 25%;
    text-decoration: none;
}

/*------------------------------------------------------------------*/
/*------------------------------------------- loading page ---------------------------------------*/
/* .loading-overlay {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
} */

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.spinner img {
    width: 50%;
    margin: 0 auto;
    display: block;
}
/* ----------------------- End Footer ----------------------- */