body {
    height: 100%;
    /* direction: rtl; */
    font-family: myFont;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), grey), url('../img/'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #dcdbd4;
}

/* ----------------------- Start Welcome Page ----------------------- */
.welcome_page .logo {
    width: 100%;
    height: 230px;
    transform: skewY(-10deg);
    background: rgba(255, 255, 255, 0.5);
    margin-top: 32%;
    position: relative;
}

.welcome_page .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) skewY(10deg);
    width: 50%;
}

.welcome_page a {
    text-decoration: none;
    padding: 8px;
    color: #f3e5b8;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 20%;
    position: absolute;
    top: 55%;
    left: 41%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.welcome_page a i {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px;
}

.welcome_page h6 {
    width: 20%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 87%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.welcome_page img {
    text-align: center;
    color: #f3e5b8;
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/* ----------------------- End Welcome Page ----------------------- */

/* ----------------------- Start Header ----------------------- */
header {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 0;
    z-index: 5;
    width: 100%;
    position: fixed;
}

header #menu-toggle {
    display: none;
}

header .hamburger-wrapper {
    cursor: pointer;
    display: block;
    height: 25px;
    padding: 12px;
    position: fixed;
    right: 30px;
    top: 5px;
    transition: background 0.3s;
    width: 90px;
    z-index: 2;
}

header .hamburger-wrapper .hamburger {
    background: #f3e5b8;
    display: block;
    height: 2px;
    position: absolute;
    width: 25px;
    top: 22px;
    left: 78px;
    transition: background 0.3s;
}

header .hamburger-wrapper .hamburger:before,
header .hamburger-wrapper .hamburger:after {
    content: "";
    background: #f3e5b8;
    display: block;
    height: 2px;
    position: absolute;
    width: 25px;
}

header .hamburger-wrapper .hamburger:before {
    top: -5px;
    transition: top 0.3s, transform 0.3s;
}

header .hamburger-wrapper .hamburger:after {
    bottom: -5px;
    transition: bottom 0.3s, transform 0.3s;
}

header #menu-toggle:checked + .hamburger-wrapper {
    background: #000;
}

header #menu-toggle:checked + label .hamburger:before {
    background: #f3e5b8;
    top: 0;
    transform: rotate(45deg);
}
header #menu-toggle:checked + label .hamburger:after {
    background: #f3e5b8;
    bottom: 0;
    transform: rotate(-45deg);
}

header #menu-toggle:checked + label .hamburger {
    background: #000;
}

    /* Start Menu Bar */
header nav {
    background-color: #000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
    height: 100%;
    left: 100%;
    position: fixed;
    width: 60%;
    width: calc(240px);
    top: 0;
    transition: left 0.3s;
    z-index: 1;
}

header nav .spacer {
    height: 55px;
}

header nav .accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding-right: 0;
}

header nav .accordion li:last-child .link {
    border-bottom: 0;
}

header nav .accordion .link {
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #f3e5b8;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header nav .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #f3e5b8;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header nav .accordion li i i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

header nav .accordion li.open .link {
    color: #b63b4d;
}

header nav .accordion li.open .link i {
    color: #b63b4d;
}

header nav .accordion li.open .link i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

header nav .accordion .submenu {
    text-align: center;
    display: none;
    background: #121417;
    font-size: 14px;
    padding-right: 0;
}

header nav .accordion .submenu li {
    border-bottom: 1px solid #4b4a5e;
}

header nav .accordion .submenu a {
    display: block;
    text-decoration: none;
    color: #f3e5b8;
    padding: 12px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

header nav .accordion .submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}

header #menu-toggle:checked ~ nav {
    left: 40%;
    left: calc(100% - 240px);
    overflow-y: scroll;
}

header .h_arrow a {
    color: #f3e5b8;
}
header .h_arrow a i {
    margin-top: 10px;
}
header .h_title {
    padding: 0;
}
header .h_title h4 {
    color: #f3e5b8;
}
header .h_title img {
    width: 50px;
    margin: auto;
    display: block;
}
    /* End Menu Bar */
/* ----------------------- End Header ----------------------- */

/* ----------------------- Start List Content ----------------------- */
    .main-listContent {
        padding-top: 20%;
        padding-bottom: 5%;
    }

    .main-listContent .list-status {
        position: relative;
    }

    .main-listContent .list-status .btn-back {
        margin: 12px auto;
        background-color: #e9ecef7d;
        text-align: center;
        font-size: 22px;
        width: 40%;
        border-radius: 500px;
    }

    .main-listContent .list-status .btn-back a {
        color: #383838;
        text-decoration: none;
    }

    .main-listContent .list-status .btn-back a span,
    .main-listContent .list-status .btn-back a i {
        margin-left: 8px;
    }

    .main-listContent .list-status .statu_item {
        margin-bottom: 10%;
    }

    .main-listContent .list-status .statu_item .inner-video {
        outline: 0;
        height: 100%;
        width: 100%;
    }

    .main-listContent .list-status .icons {
        background-color: #e9ecef7d;
        width: 90%;
        text-align: center;
        display: block;
        margin: auto;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        padding-top: 3px;
    }

    .main-listContent .list-status .icons a {
        color: #0dc143;
        text-decoration: none;
        margin: 0 10px;
        font-size: 23px;
    }

    .main-listContent .list-status .icons a i {
        color: #0dc143;
        cursor: pointer;
    }

    .active-heart {
        color: red !important;
    }

    /* @media (min-width: 1200px) {
        .main .list-status .statu_item .inner-img {
            width: 60% !important;
        }

        .main .list-status .icons {
            width: 50%;
        }
    } */
/* ----------------------- End List Content ----------------------- */

/* ----------------------- Start Audio Inner Content ----------------------- */
        .player {
            position: relative;
            background-color: #ffffff;
            background-image: url("../img/big-buck-bunny.jpg");
            background-position: center;
            background-origin: border-box;
            background-size: 100% 100%;
            width: 100%;
            height: 375px;
            border-bottom: 6px solid #3f51b5;
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        .player:hover .mask {
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 1s;
        }

        .player .like {
            position: absolute;
            top: 15px;
            right: 20px;
            z-index: 15;
            font-size: 22px;
            color: #5c6bc0;
            cursor: pointer;
        }

        .player .icon-heart {
            display: block;
        }

        .player .mask {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: 2;
            transition: all 1s;
        }

        .player-info {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 4;
            list-style: none;
            color: #262626;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .player-info li {
            margin-bottom: 7px;
        }

        .player-info li:nth-child(1) {
            font-size: 1.5em;
            font-weight: 500;
        }

        .player-info li:nth-child(2) {
            font-size: 1.2em;
        }

        .player-info li:nth-child(3) {
            font-size: 0.9em;
        }

        .player .info-two {
            left: auto;
            right: 4.5%;
            z-index: 1;
            color: #2c40b3;
        }

        .player .info-two li:nth-child(2) {
            float: right;
        }

        .player .info-two li:nth-child(3) {
            display: inline-block;
            float: right;
            clear: both;
        }

        .player #play-button {
            box-sizing: border-box;
            position: absolute;
            width: 80px;
            height: 80px;
            background-color: #5c6bc0;
            box-shadow: 0 8px 25px 6px rgba(0, 0, 0, 0.5);
            right: 5px;
            bottom: 152px;
            z-index: 5;
            cursor: pointer;
            transition: all 70ms;
        }

        .player #play-button:hover {
            width: 70px;
            height: 70px;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
            right: 5px;
            bottom: 152px;
            transition: all 70ms;
        }

        .player #play-button .fa-play {
            position: absolute;
            font-size: 1.5em;
            left: 52%;
            top: 50%;
            -webkit-transform: translate(-48%, -50%);
            transform: translate(-48%, -50%);
            transition: all 70ms;
            color: #ffffff;
        }

        .player #play-button:hover .fa-play {
            font-size: 1.2em;
            transition: all 70ms;
        }

        .player #play-button .fa-times {
            position: absolute;
            font-size: 1.6em;
            left: 50%;
            top: 49%;
            -webkit-transform: translate(-50%, -51%);
            transform: translate(-50%, -51%);
            color: #ffffff;
        }

        .control-row {
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 130px;
            background-color: #ffffff;
            overflow: hidden;
            z-index: 3;
        }

        .control-row #pause-button {
            box-sizing: border-box;
            position: absolute;
            width: 80px;
            height: 80px;
            background-color: #f2f2f2;
            left: 7px;
            bottom: 25px;
            z-index: 5;
            cursor: pointer;
            -webkit-transform: scale(0);
            transform: scale(0);
            display: none;
            -webkit-animation: scale-animation 0.4s;
            animation: scale-animation 0.4s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .control-row #pause-button .fa-pause {
            position: absolute;
            font-size: 1.5em;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            transition: all 0.1s;
            color: #424242;
        }

        .control-row #pause-button .fa-play {
            position: absolute;
            font-size: 1.5em;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            transition: all 0.1s;
            color: #424242;
        }

        .control-row .seek-field {
            bottom: 67px;
            left: 98px;
            position: absolute;
            width: 170px;
            z-index: 5;
            -webkit-transform: scale(0);
            transform: scale(0);
            display: none;
            -webkit-animation: scale-animation 0.4s;
            animation: scale-animation 0.4s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .control-row .volume-field {
            bottom: 40px;
            right: 9px;
            position: absolute;
            width: 50px;
            z-index: 5;
            -webkit-transform: scale(0);
            transform: scale(0);
            display: none;
            -webkit-animation: scale-animation 0.4s;
            animation: scale-animation 0.4s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .control-row .volume-icon {
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: 34px;
            right: 65px;
            z-index: 5;
            font-size: 1.2em;
            display: none;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-animation: scale-animation 0.4s;
            animation: scale-animation 0.4s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .control-row .volume-icon .fa-volume-up {
            color: #424242;
        }

        .like-active {
            color: #ef5350;
            -webkit-animation: scale-animation 0.4s;
            animation: scale-animation 0.4s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        @-webkit-keyframes scale-animation {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            50% {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        @keyframes scale-animation {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            50% {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        .waves-animation-one {
            position: absolute;
            width: 80px;
            height: 80px;
            /* border-radius: 50%; */
            background-color: #5c6bc0;
            z-index: 3;
            left: 42.5%;
            bottom: 20%;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-animation: waves-animation-one 0.25s;
            animation: waves-animation-one 0.25s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
            display: none;
        }

        @-webkit-keyframes waves-animation-one {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            99% {
                -webkit-transform: scale(7.8);
                transform: scale(7.8);
            }

            100% {
                -webkit-transform: scale(7.8);
                transform: scale(7.8);
            }
        }

        @keyframes waves-animation-one {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            99% {
                -webkit-transform: scale(7.8);
                transform: scale(7.8);
            }

            100% {
                -webkit-transform: scale(7.8);
                transform: scale(7.8);
            }
        }

        .waves-animation-two {
            position: absolute;
            width: 80px;
            height: 80px;
            background-color: #5c6bc0;
            z-index: 3;
            right: 40px;
            bottom: 35px;
            -webkit-transform: scale(7.8);
            transform: scale(7.8);
            display: none;
            -webkit-animation: waves-animation-two 0.2s;
            animation: waves-animation-two 0.2s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        @-webkit-keyframes waves-animation-two {
            to {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
        }

        @keyframes waves-animation-two {
            to {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
        }

        .info-active {
            -webkit-animation: info-active-animation 3s;
            animation: info-active-animation 3s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 0.37s;
            animation-delay: 0.37s;
        }

        @-webkit-keyframes info-active-animation {
            to {
                bottom: 56.5%;
            }
        }

        @keyframes info-active-animation {
            to {
                bottom: 56.5%;
            }
        }

        .play-active {
            -webkit-animation: play-animation 0.3s;
            animation: play-animation 0.3s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        @-webkit-keyframes play-animation {
            0% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }

            98% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                -webkit-transform: translate(-200px, 65px);
                transform: translate(-200px, 65px);
            }

            99% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                -webkit-transform: translate(-200px, 65px) scale(0);
                transform: translate(-200px, 65px) scale(0);
            }

            100% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                -webkit-transform: translate(0, 65px) scale(1);
                transform: translate(0, 65px) scale(1);
            }
        }

        @keyframes play-animation {
            0% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }

            98% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                -webkit-transform: translate(-200px, 65px);
                transform: translate(-200px, 65px);
            }

            99% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                -webkit-transform: translate(-200px, 65px) scale(0);
                transform: translate(-200px, 65px) scale(0);
            }

            100% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                -webkit-transform: translate(0, 65px) scale(1);
                transform: translate(0, 65px) scale(1);
            }
        }

        .play-inactive {
            -webkit-animation: play-inactive 1s;
            animation: play-inactive 1s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        @-webkit-keyframes play-inactive {
            from {
                -webkit-transform: translate(0, 65px);
                transform: translate(0, 65px);
            }
        }

        @keyframes play-inactive {
            from {
                -webkit-transform: translate(0, 65px);
                transform: translate(0, 65px);
            }
        }

        input[type="range"] {
            -webkit-appearance: none;
            width: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        input[type="range"]:focus {
            outline: none;
        }

        input[type="range"]+.thumb {
            display: none;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
            background: #f2f2f2;
            border-radius: 0;
            border: 0px solid #000101;
        }

        input[type="range"]::-webkit-slider-thumb {
            box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
            border: 0px solid transparent;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background: #009688;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -7px;
        }

        input[type="range"]:focus::-webkit-slider-runnable-track {
            background: #f2f2f2;
        }

        input[type="range"]::-moz-range-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
            background: #f2f2f2;
            border-radius: 0;
            border: 0px solid #000101;
        }

        input[type="range"]::-moz-range-thumb {
            box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
            border: 0px solid transparent;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background: #009688;
            cursor: pointer;
        }

        input[type="range"]::-ms-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            border-width: 39px 0;
            color: transparent;
            padding-top: 5px;
        }

        input[type="range"]::-ms-fill-lower {
            background: #f2f2f2;
            border: 0px solid transparent;
            border-radius: 0;
            box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
        }

        input[type="range"]::-ms-fill-upper {
            background: #f2f2f2;
            border: 0px solid transparent;
            border-radius: 0x;
            box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
        }

        input[type="range"]::-ms-thumb {
            box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
            border: 0px solid transparent;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background: #009688;
            cursor: pointer;
            margin-top: 1px;
        }

        input[type="range"]::-ms-tooltip {
            display: none;
        }

        input[type="range"]::-ms-ticks {
            display: none;
        }

        input[type="range"]:focus::-ms-fill-lower {
            background: #f2f2f2;
        }

        input[type="range"]:focus::-ms-fill-upper {
            background: #f2f2f2;
        }
/* ----------------------- End Audio Inner Content ----------------------- */

/* ----------------------- Start Footer ----------------------- */
footer {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    background-color: black;
    height: 45px;
    padding: 0px;
    z-index: 2;
}
footer a {
    text-align: center;
    font-size: 21px;
    color: #f3e5b8;
    padding: 10px;
    text-align: center;
    width: 25%;
    text-decoration: none;
}

/*------------------------------------------------------------------*/
/*------------------------------------------- loading page ---------------------------------------*/
/* .loading-overlay {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
} */

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.spinner img {
    width: 50%;
    margin: 0 auto;
    display: block;
}
/* ----------------------- End Footer ----------------------- */